parameters:
	ignoreErrors:
		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Model/Version.php

		-
			message: '#^Strict comparison using \!\=\= between int and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 3
			path: src/Model/Version.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Model/Version.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Model/Version.php

		-
			message: '#^Call to an undefined method BrowscapPHP\\Browscap\:\:getCache\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Provider/AbstractBrowscap.php

		-
			message: '#^PHPDoc tag @param for parameter \$device with type UserAgentParser\\Model\\UserAgent is incompatible with native type UserAgentParser\\Model\\Device\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Provider/AbstractBrowscap.php

		-
			message: '#^Method UserAgentParser\\Provider\\AbstractProvider\:\:getUpdateDate\(\) should return DateTime but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Provider/AbstractProvider.php

		-
			message: '#^Method UserAgentParser\\Provider\\AbstractProvider\:\:getVersion\(\) should return string but empty return statement found\.$#'
			identifier: return.empty
			count: 1
			path: src/Provider/AbstractProvider.php

		-
			message: '#^Method UserAgentParser\\Provider\\Http\\AbstractHttpProvider\:\:getResponse\(\) should return GuzzleHttp\\Psr7\\Response but returns Psr\\Http\\Message\\ResponseInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Provider/Http/AbstractHttpProvider.php

		-
			message: '#^Parameter \#2 \$code of class UserAgentParser\\Exception\\RequestException constructor expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/AbstractHttpProvider.php

		-
			message: '#^Call to an undefined method Throwable\:\:getResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Provider/Http/DeviceAtlasCom.php

		-
			message: '#^Call to an undefined method Throwable\:\:hasResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Provider/Http/DeviceAtlasCom.php

		-
			message: '#^PHPDoc tag @param for parameter \$device with type UserAgentParser\\Model\\UserAgent is incompatible with native type UserAgentParser\\Model\\Device\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Provider/Http/DeviceAtlasCom.php

		-
			message: '#^Parameter \#2 \$code of class UserAgentParser\\Exception\\InvalidCredentialsException constructor expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/DeviceAtlasCom.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Provider/Http/FiftyOneDegreesCom.php

		-
			message: '#^Call to an undefined method Throwable\:\:getResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Provider/Http/FiftyOneDegreesCom.php

		-
			message: '#^Call to an undefined method Throwable\:\:hasResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Provider/Http/FiftyOneDegreesCom.php

		-
			message: '#^Parameter \#2 \$code of class UserAgentParser\\Exception\\InvalidCredentialsException constructor expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/FiftyOneDegreesCom.php

		-
			message: '#^Call to an undefined method Throwable\:\:getResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Provider/Http/NeutrinoApiCom.php

		-
			message: '#^Call to an undefined method Throwable\:\:hasResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Provider/Http/NeutrinoApiCom.php

		-
			message: '#^Method UserAgentParser\\Provider\\Http\\NeutrinoApiCom\:\:getVersion\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Provider/Http/NeutrinoApiCom.php

		-
			message: '#^Parameter \#2 \$code of class UserAgentParser\\Exception\\InvalidCredentialsException constructor expects int, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/NeutrinoApiCom.php

		-
			message: '#^Parameter \#2 \$numeric_prefix of function http_build_query expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/NeutrinoApiCom.php

		-
			message: '#^Method UserAgentParser\\Provider\\Http\\UdgerCom\:\:getVersion\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Provider/Http/UdgerCom.php

		-
			message: '#^Parameter \#2 \$numeric_prefix of function http_build_query expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/UdgerCom.php

		-
			message: '#^Method UserAgentParser\\Provider\\Http\\WhatIsMyBrowserCom\:\:getVersion\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Provider/Http/WhatIsMyBrowserCom.php

		-
			message: '#^Parameter \#2 \$numeric_prefix of function http_build_query expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Provider/Http/WhatIsMyBrowserCom.php

		-
			message: '#^Instanceof between WhichBrowser\\Model\\Using and WhichBrowser\\Model\\Using will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Provider/WhichBrowser.php

		-
			message: '#^Property UserAgentParser\\Provider\\WhichBrowser\:\:\$parser is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Provider/WhichBrowser.php
